@media (max-width: 1200px) {
    .carousel {
        &__inner {
            img {
                width: 80%;
            }
        } 
        .prev {
            left: -10px;
        }
        .next {
            right: -10px;
        }
    }
}
@media (max-width: 991px) {
    .header {
        &__logo {
            img {
                width: 100%;
            }
        }
    }
    .promo {
        min-height: 580px;
        padding: 20px 40px 30px 40px;
        &__header {
            font-size: 40px;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 20px;
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__icons {
            width: 380px;
            margin-top: 45px;
        }
    }
    .button {
        &_main {
            margin-top: 50px;
        }
        &_submit {
            height: 50px;
        }
    }
    .advantages {
        min-height: 435px;
        padding: 40px 40px 0 40px;
        &__subheader {
            font-size: 28px;
        }
        &__icons {
            margin-top: 50px;
        }
        &__icon {
            width: 230px;
            img {
                margin-bottom: 35px;
            }
        }
        &__text {
            margin-top: 15px;
        }
    }
    .consultation {
        min-height: 620px;
        padding: 80px 40px 92px 40px;
        &__subheader{
            &_left {
                font-size: 34px;
            }
        }

    }

    .feed-form {
        width: 290px;
        input {
            height: 45px;
        }
    }
    .carousel {
        padding: 80px 0;
        .prev {
            display: none;
        }
        .next {
            display: none;
        }
    }
    .catalog {
        &__content{
            /*padding: 0 50px 0 50px;*/
            justify-content: space-evenly;
        }    
    }
}
@media (max-width: 767px) {
    .header {
        &__logo {
            width: 220px;
        }
        &__phone {
            font-size: 15px;
        }
        &__official {
            display: none;
        }
    }
    .button {
        width: 145px;
        height: 25px;
        &_main {
            width: 250px;
            height: 40px;
            font-size: 14px;
        }
        &_submit {
            height: 45px;
            width: 100%;        }
        
    }
    .promo {
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__link {
            font-size: 13px
            a {
                font-size: 13px;
            }
        }
        &__icon {
            font-size: 13px;
        }
    }
    .advantages {
        padding: 20px 40px 30px 40px;
        &__icons {
            justify-content: space-around;
            margin-top: 20px;
            flex-wrap: wrap;
        }
        &__icon {
            
            &:last-child {
                margin: 0 auto;
            }
            img {
                margin-top: 20px;
                margin-bottom: 15px;
            }
        }
        &__text {
            margin-top: 10px;
        }
    }
    .subheader {
        font-size: 27px;
        &_left {
            font-size: 30px;
        }
    }
    .feed-form {
        width: 280px;

    }
    .consultation {
        padding: 65px 40px 87px 40px;
        min-height: 570px;
        &__desc {
            font-size: 18px;
        }

    }
    .feed-form {
        width: 280px;
        input {
            height: 40px;
        }
    }
    .carousel {
        padding: 50px 0 70px 0;
        .tns-nav {
            bottom: -20px;
        }

    }
    .catalog {
        .subheader {
            font-size: 25px;
        }
        &__tabs {
            margin-top: 55px;
        }

        &__tab {
            width:174px;
            line-height: 48px;
            font-size: 15px;
        }

    }
    

}
@media (max-width: 575px) {
    .header {
        &__logo {
            width: 170px;
            margin-right: 10px;
        }
        &__phone {
            font-size: 13px;
        }  
    }
    .promo {
        min-height: 475px;
        &__wrapper {
            align-items: center;
            margin-top: 40px;
        }
        &__header {
            font-size: 30px;
            text-align: center;
        }
        &__subheader {
            margin-top: 0;
            font-size: 15px;
            text-align: center;
        }
        &__icons {
            flex-direction: column;
            margin-top: 0;
            align-items: center;
            width: 320px;
        }
        &__icon {
            font-size: 14px;
            margin-top: 15px;
            width: 110px;
        }
        &__link {
            margin-top: 20px;
            font-size: 14px;
        }
    }
    .button {
        
        width: 140px;
        height: 22px;
        &_main {
            margin-top: 25px;
            width: 220px;
            height: 30px;
            font-size: 12px;
        }
        &_submit {
            height: 45px;
            width: 100%; 
        }
        
    }
    .advantages {
        &__icons {
            margin-top: 5px;
            flex-direction: column;
        }
        &__icon {
            margin: 0 auto;
        }
    }
    .subheader {
        font-size: 25px;
        &_left {
            text-align: center;
        } 
    }
    .feed-form {
        width: 240px;   
        margin: 0 auto;
        margin-top: 20px;
    }
    .consultation {
        min-height: 540px;
        &__desc {
            text-align: center;
        }
    }
    .carousel {
        padding: 50px 0 90px 0;

        .tns-nav {
            bottom: -15px;
            button {
                padding:  5px 5px;
            }
        }
        .tns-nav-active {
            padding: 6px 6px;
        }

    }
    .catalog {
        .subheader {
            font-size: 23px;
        }
        &__tabs {
            flex-wrap: wrap;
            margin-top: 50px;
        }

        &__tab {
            margin-top: 10px;

        }
    }
    

}