.reviews {
    padding: 0 0 35px 0;
    min-height: 968px;
    

    &__item {
        display: flex;
        justify-content: center;
        align-items:center;
        margin: 100px 10px 0 10px;
        &:nth-child(1) {
            margin-top: 70px;
        }

        
    }

    &__photo {
        width: 169px;
        margin-right: 62px;
        Img {
            width: 100%;
            
        }
    }
    &__desc {
        width: 670px;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;

    }
    &__maraphones {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__text {
        margin-top: 19px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
    }
    



}